<!DOCTYPE html>
<html>


  <body>
    <!-- <h1 style="color:rgb(255, 255, 255);text-align:center; background-color: rgb(0, 0, 0);">Face Detection Model</h1>
    <div style="border: black; align-self: center;">
        
        <img src="{{ url_for('video') }}" width="50%"/> -->
        <br>
        <br>
        <h1 style="color:rgb(255, 255, 255);text-align:center; background-color: rgb(0, 0, 0);">Welcome to AI base Testing service App</h1>
        <h1 style="text-align:center">Main Screen</h1>
    </div>
            
    </body>


</html>