<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/faceVerification.css">
</head>
<body class="back_color">

    <div class="row head">
        <div class="col-2 offset-8" style="text-align: center; padding-top: 0.6em;">
            <a href="./analytics.html" style="text-decoration: none; color:black"><h6>Analytics</h6></a>
        </div>
        <div class="col-2">
            <a href="./login.html"><button class="btn1" style="color: white;">Log out</button></a>
        </div>
    </div>

    <div class="content">
        <img src="../pics/logo.png" alt="" width="25%">
        <br><h6 style="color: rgb(233, 92, 41); margin-top: -20px;">WELCOME</h6>
        <h1>STS VERIFICATION APP</h1>
        <P>Here You Select Either you want Face Verification or QR Code Verification of your Respective Test</P>
        <a href="../one.html"><button class="btn2">FACE VERIFICATION</button></a>
        <a href="http://127.0.0.1:5000/qrcheck" target="_blank"><button class="btn2">QR CODE</button></a>
    </div>
    <br><br>
    <div class="row icons">
        <div class="col-2">
            <img src="../pics/user-icon2.png" alt="" width="60%">
        </div>
        <div class="col-2 icon-style">
            <img src="../pics/user-icon1.png" alt="" width="60%">
        </div>
        <div class="col-2">
            <img src="../pics/user-icon2.png" alt="" width="60%">
        </div>
        <div class="col-2 icon-style">
            <img src="../pics/user-icon1.png" alt="" width="60%">
        </div>
        <div class="col-2">
            <img src="../pics/user-icon2.png" alt="" width="60%">
        </div>
        <div class="col-2 icon-style">
            <img src="../pics/user-icon1.png" alt="" width="60%">
        </div>
    </div>
    <br><br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>