<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body class="back_color">
    <div class="row head">
        <div class="col-8 row">
            <div class="col-2">
                <img src="../pics/logo.png" alt="logo" width="100px" height="100px" style="margin-top: -20px;">
            </div>
            <div class="col-10">
                <h1>STS VERIFICATION APP</h1>
            </div>
        </div>
    </div>

    <div class="content">
        <h1 style="text-align: center;">Log in</h1>
        <p class="content-text">Here is login to Application, Please Provide your credientials given by STS with your Incharge ID and Password to Proceed</p>
        <div class="form1">
            <input type="text" placeholder="Incharge ID" class="input-field" id="ID" value="">
            <br><br>
            <input type="text" placeholder="Password" class="input-field" id="Password" value="">
            <br><br>
            <input type="checkbox" class="check-field" id="check">
            <label for="">By clicking you agree to the <span>Terms and Conditions</span></label>
            <br><br>
            <button class="btn2">Log In</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="../JS/login.js"></script>
</body>
</html>